SetHandler wsgi-script

RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_URI} !(wsgi.py)
RewriteCond %{REQUEST_URI} !^(/media/.*)
RewriteCond %{REQUEST_URI} !^(/static/.*)
RewriteRule ^(.*)$ wsgi.py/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ wsgi.py/$1 [L]

